<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090642900641-8cof2arjbuds2itdkmltri4laptj4tr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090642900641-8cof2arjbuds2itdkmltri4laptj4tr9</string>
	<key>API_KEY</key>
	<string>AIzaSyB8mQoO4ed_Z99m1pK3riuggsxAHcEjTP8</string>
	<key>GCM_SENDER_ID</key>
	<string>1090642900641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.wolszon.fastshopping</string>
	<key>PROJECT_ID</key>
	<string>fastshopping-6beb9</string>
	<key>STORAGE_BUCKET</key>
	<string>fastshopping-6beb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090642900641:ios:c76b5243b0a5c6a6b762e0</string>
</dict>
</plist>