name: Test

on:
  push:
    branches: [master]
    tags-ignore: ['v*']
  pull_request:
    branches: [master]

jobs:
  test-app:
    name: App

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.2.0-10.2.pre'
          channel: beta

      - name: Flutter version
        run: flutter --version

      - name: Cache pub dependencies
        uses: actions/cache@v2
        with:
          path: ${{ env.FLUTTER_HOME }}/.pub-cache
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: ${{ runner.os }}-pub-

      - name: Download pub dependencies
        run: flutter pub get

      - name: Run analyzer
        run: flutter analyze

      - name: Run tests
        run: flutter test --coverage
        
      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          flags: app

  test-bloc:
    name: Business logic

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: fast_shopping_bloc

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: 2.12.4

      - name: Dart version
        run: dart --version

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.2.0-10.2.pre'
          channel: beta

      - name: Flutter version
        run: flutter --version

      - name: Cache pub dependencies
        uses: actions/cache@v2
        with:
          path: ${{ env.FLUTTER_HOME }}/.pub-cache
          key: ${{ runner.os }}-bloc-pub--${{ hashFiles('**/pubspec.lock') }}
          restore-keys: ${{ runner.os }}-bloc-pub-

      - name: Download pub dependencies
        run: flutter pub get

      - name: Run analyzer
        run: flutter analyze

      - name: Run tests
        run: |
          dart test --coverage=coverage
          flutter pub run coverage:format_coverage --lcov --in=coverage --out=coverage/lcov.info --packages=.packages --report-on=lib
        
      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          flags: bloc
